In [2]:
import pandas as pd

df=pd.DataFrame({'name' : ['김지훈','이유진','박동현','김민지'],
                 'english' : [90, 80, 60 ,70],
                 'math' : [50, 60, 100, 20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [3]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [4]:
sum(df['english'])

300

In [5]:
sum(df['math'])

230

In [6]:
sum(df['english']) / 4

75.0

In [7]:
sum(df['math']) /4

57.5

In [8]:
df_fr = pd.DataFrame({'제품' : ['사과','땰기','수박'],
                   '가격' : [1800, 1500, 3000],
                   '판매량' : [24,38, 13]})
df_fr

   제품    가격  판매량
0  사과  1800   24
1  땰기  1500   38
2  수박  3000   13

In [9]:
sum(df_fr['가격']) / 100

63.0

In [12]:
df_exam = pd.read_excel("C:/Users/User/workspaces/kit_bigdate/excel_exam.xlsx")

df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [11]:
x = [1, 2, 3,4,5]
x

len(x)

5

In [16]:
df_exam_novar = pd.read_excel('../excel_exam_novar.xlsx',
                        header=None)
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

In [20]:
df_exam = pd.read_excel('../excel_exam.xlsx',
                        sheet_name = 'sheet2')
df_exam = pd.read_excel('../excel_exam.xlsx',
                        sheet_name = '2')
# 시트1밖에 없음

ValueError: Worksheet named 'sheet2' not found

In [22]:
df_csv_exam = pd.read_csv('../exam.csv')

df_csv_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58